html {
  font-size: 18px;
}

body {
  margin: 0 auto;
  font-family: "Inter", "Poppins", "Roboto", "Work Sans", sans-serif;
  background-color: #212529;
  height: 3500px;
  cursor: url("./img/cursor.cur"), auto !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 48px;
  margin: 17px 0;
}

li.navbar-item > a,
.button {
  text-transform: capitalize;
  text-decoration: none;
  color: #ffffff;
  padding: 25px 12.5px;
  box-sizing: border-box;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1rem;
  transition: all 0.4s;
}

.button {
  color: #212529;
  background: #ffb742;
  border-radius: 50px;
  border: 2px solid;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 1rem;
  padding: 12px 26px;
  box-sizing: border-box;
}

li.navbar-item > a:hover {
  color: #ffb742;
}

li.navbar-item > a:active {
  font-size: 2rem;
}

.navbar {
  display: flex;
  list-style: none;
}

body,
ul {
  margin: 0;
  padding: 0;
}

section {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: capitalize;
}

.line1 {
  display: flex;
  font-family: "Inter";
  font-weight: 700;
  font-size: 1.8rem;
  color: #ffffff;
  margin-top: 95px;
}

.line2 {
  display: flex;
  font-family: "Inter";
  font-weight: 700;
  font-size: 2.7rem;
  color: #ffffff;
  margin-top: 14px;
}

.line3 {
  display: flex;
  font-family: "Inter";
  font-weight: 400;
  font-size: 1.3rem;
  color: #ffffff;
  margin-top: 55px;
}

.avatar {
  width: 210px;
  margin-top: 22px;
}

span {
  display: flex;
  flex-direction: row;
  color: #ffb742;
  text-decoration: underline;
  font-family: "Inter";
  font-weight: 700;
  font-size: 2rem;
}

.section1 {
  display: flex;
  flex-direction: row;
  margin-top: -130px;
  justify-content: center;
}

.block1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #292b2e;
  border: 1px solid #000000;
  border-radius: 10px;
  width: 416px;
  margin-left: 110px;
  margin-top: 261.27px;
}

.img-block1 {
  width: 64px;
  margin-left: 30px;
}

.info > span {
  color: #ffb742;
  text-decoration: none;
  font-size: 2rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter";
  font-weight: 700;
  font-size: 0.9rem;
  color: #ffffff;
  margin-left: 56px;
}

.chevron-right {
  display: flex;
  flex-direction: row;
  width: 20px;
  margin: 50px 10px 50px 65px;
}

.chevron-right1 {
  display: flex;
  flex-direction: row;
  margin: 50px 20px 50px 110px;
}

.block2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #292b2e;
  border: 1px solid #000000;
  border-radius: 10px;
  width: 416px;
  margin-top: 261.27px;
  margin: 261.27px 24px 0 24px;
}

.img-block2 {
  width: 64px;
  margin-left: 30px;
}

.block3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #292b2e;
  border: 1px solid #000000;
  border-radius: 10px;
  width: 416px;
  margin-top: 261.27px;
  margin-right: 110px;
}

.img-block3 {
  width: 64px;
  margin-left: 30px;
}

div > .block3:hover {
  color: #ffb742;
}

.section2 {
  display: flex;
  width: 1342px;
  margin: 137px auto;
  margin-bottom: 7px;
}

.photo {
  width: 620px;
}

.button1 {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 148px;
  height: 42px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 50px;
  color: #ffb742;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.11rem;
  text-transform: capitalize;
  margin-top: 54px;
  margin-bottom: 54px;
  padding: 7px;
  box-sizing: border-box;
  text-decoration: none;
}

.about {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 2.6rem;
  color: #ffffff;
  width: 213.43px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-items: center;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 0.9rem;
  color: #d5d5d5;
  margin-top: 29.49px;
  margin-bottom: 54.45px;
  width: 672px;
}

.button2 {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 160px;
  height: 42px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 50px;
  color: #ffb742;
  font-family: Poppins;
  font-weight: 600;
  font-size: 1.11rem;
  text-transform: capitalize;
  margin-top: 54px;
  margin-bottom: 54px;
  margin-left: 45px;
  padding: 7px;
  box-sizing: border-box;
  text-decoration: none;
}

.works {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 2.6rem;
  color: #ffffff;
}

.section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 48px;
  margin: 33px 0;
  margin-top: 30px;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -26px;
}

li.navbar1-item > a {
  text-transform: capitalize;
  text-decoration: none;
  color: #ffffff;
  padding: 25px 32px;
  box-sizing: border-box;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 0.9rem;
  transition: all 0.4s;
}

li.navbar1-item > a:hover {
  background-color: #ffb742;
}

li.navbar1-item > a:hover {
  color: black;
}

.navbar1 {
  list-style: none;
  display: flex;
  margin-top: 5px;
}

.section5 {
  display: flex;
  flex-direction: row;
  margin-bottom: 33px;
}

.cover {
  width: 390.24px;
  height: 495.71px;
  border: 0.2439px solid #000000;
  border-radius: 5.2735px;
  margin: 50px 33px 0 141px;
}

.page1 {
  width: 390px;
  height: 495.41px;
  margin-top: 50px;
  margin-right: 32px;
}

.page2 {
  width: 390.24px;
  height: 495.71px;
  border-radius: 5.2735px;
  margin-top: 50px;
  margin-right: 141px;
}

.section6 {
  display: flex;
  flex-direction: row;
  width: 1522.24px;
}

.page3 {
  display: flex;
  flex-direction: row;
  width: 390px;
  height: 292.5px;
  border-radius: 5.27027px;
  margin-right: 30px;
  margin-left: 141px;
}

.page4 {
  display: flex;
  flex-direction: row;
  width: 390.24px;
  height: 292.68px;
  border-radius: 5.2735px;
  margin-left: 4px;
  margin-right: 33px;
}

.page5 {
  display: flex;
  flex-direction: row;
  width: 390px;
  height: 291.97px;
  border-radius: 5.27027px;
}

.footer {
  background-color: #1c1c1c;
  width: 1518px;
  height: 470px;
  margin: 116px auto;
}

.kartik {
  width: 472px;
  color: #ffb742;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 2rem;
  margin-top: 87.32px;
  padding-top: 117px;
  padding-left: 36px;
  box-sizing: border-box;
}

.designer {
  margin-top: 30.62px;
  margin-left: 36px;
  width: 253.16px;
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 0.9rem;
  color: #f5fbf2;
}

.nav-footer {
  display: flex;
  text-transform: capitalize;
  justify-content: center;
  margin-top: -109px;
}

a {
  text-decoration: none;
  width: 240.17px;
  font-family: "Work Sans";
  font-weight: 500;
  font-size: 0.99rem;
  color: #7b7b7b;
  cursor: url("./img/cursor.cur"), auto !important;
}

.links {
  display: flex;
  margin-left: 330px;
  width: 139.24px;
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 1.2rem;
  color: #f5fbf2;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.navbar2-item {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-transform: capitalize;
  text-decoration: none;
  margin-left: 322px;
  padding: 7px;
  box-sizing: border-box;
}

.links1 {
  display: flex;
  margin-left: 201.37px;
  width: 143.46px;
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 1.2rem;
  color: #f5fbf2;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.navbar3-item {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-transform: capitalize;
  text-decoration: none;
  margin-left: 195px;
  padding: 7px;
  box-sizing: border-box;
}

.links2 {
  display: flex;
  margin-left: 157px;
  width: 319px;
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 1.2rem;
  color: #f5fbf2;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.navbar4-item {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-left: 150px;
  text-decoration: none;
  text-transform: initial;
  width: 319px;
  font-family: "Work Sans";
  font-weight: 500;
  font-size: 0.99rem;
  color: #7b7b7b;
  padding: 7px;
  box-sizing: border-box;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
}

li.navbar1-item,
li.navbar3-item > a:active {
  color: #ffb742;
}

.block1:hover {
  background-color: #ffb742;
}

.block1:hover span {
  color: black;
}

.block1:hover .text {
  color: black;
}

.block1:hover .chevron-right svg path {
  fill: black;
}

.block2:hover {
  background-color: #ffb742;
}

.block2:hover span {
  color: black;
}

.block2:hover .text {
  color: black;
}

.block2:hover .chevron-right svg path {
  fill: black;
}

.block3:hover {
  background-color: #ffb742;
}

.block3:hover span {
  color: black;
}

.block3:hover .text {
  color: black;
}
.block3:hover .chevron-right1 svg path {
  fill: black;
}

li.navbar2-item > a:active {
  color: #ffb742;
  font-size: 1.1rem;
}

li.navbar3-item > a:active {
  color: #ffb742;
  font-size: 1.1rem;
}
