:root{
  font-size: 36px;
}

body{
  min-width: 70vw;
  max-width: 100vw;
  margin: 0 auto;
  font-family: 'Rosario', sans-serif;
  font-family: 'Volkhov', serif;
}

.sticky-header{
  display: flex;
  justify-content: space-between;
  overflow: auto;
  background-color: black;
  z-index: 1;
  position: sticky;
  top:0;
}

.logo{
  width: 253px;
  background-color: white;
  background-size: 227px;
  background-repeat: no-repeat;
  background-image: url("./img/klipartz\ 1.png");
}

.nav-menu{
  display: flex; 
  list-style: none;
  padding-left: 380px;
}

.gallery{
  position: relative;
}

.txt-menu a{
  color: rgba(255, 252, 252, 1);
  text-decoration: none;
  font-family: 'Rosario';
  font-weight: 700;
  font-style: italic;
  font-size: 0.8rem;
  padding-right: 16px;
  padding-left: 43px;
  box-sizing: border-box;
  text-transform: capitalize;
}

.photo21{
  width: 17vw;
  position: absolute;
  top: 80px;
  left: 155px;
}

.photo24{
  width: 17vw;
  position: absolute;
  top: 80px;
  right: 155px;
}

.photo20{
  width: 20vw;
  position: absolute;
  top: 30px;
  left: 440px;
}

.photo22{
  width: 20vw;
  position: absolute;
  top: 30px;
  right: 440px;
}

.photo25{
  width: 20vw;
  position: absolute;
  top: 320px;
  left: 440px;
}

.photo23{
  width: 20vw;
  position: absolute;
  top: 320px;
  right: 440px;
}

.ellipse1{
  width: 12vw;
  position: absolute;
  top: 750px;
  left: 230px;
}

.ellipse2{
  width: 12vw;
  position: absolute;
  top: 750px;
  left: 580px;
}

.ellipse3{
  width: 12vw;
  position: absolute;
  top: 1050px;
  left: 230px;
}  

.ellipse5{
  width: 12vw;
  position: absolute;
  top: 1050px;
  left: 580px;
}

.pexels{
  width: 34.6vw;
  position: absolute;
  top: 735px;
  right: 0; 
}

.from-left1{
  animation: from-left1 1s linear;
}

@keyframes from-left1{
  from{
    transform: translateX(-100vw);
  }
  to{
    transform: translateX(0);
  }
}

.from-right1{
animation: from-right1 1s linear;
}

@keyframes from-right1{
  from{
    transform: translateX(100vw);
  }
  to{
  transform: translateX(0);
  }
}

.from-left2{
  animation: from-left2 2s linear;
}

@keyframes from-left2{
  from{
    transform: translateX(-100vw);
  }
  to{
    transform: translateX(0);
  }
}

.from-right2{
  animation: from-right2 2s linear;
}

@keyframes from-right2{
  from{
    transform: translateX(100vw);
  }
  to{
    transform: translateX(0);
  }
}

.ellipse1 {
  animation: rotation1 5s ease-out infinite;
}

@keyframes rotation1 {
  0% {
      transform: translate(0);
  }

  25% {
      transform: translate(350px, 0);
  }

  50% {
      transform: translate(350px, 300px);
  }

  75% {
      transform: translate(0, 300px);
  }

  100%{
    transform: translate(0);
  } 
}

.ellipse2 {
  animation: rotation2 5s ease-out infinite;
}

@keyframes rotation2 {

  0% {
      transform: translate(0);
  }

  25% {
      transform: translate(3px, 300px);
  }

  50% {
      transform: translate(-350px, 300px);
  }

  75% {
      transform: translate(-350px);
  }

  100% {
      transform: translate(0);
  }
}

.ellipse3 {
  animation: rotation3 5s ease-out infinite;
}

@keyframes rotation3 {
  0% {
    transform: translate(0);
  }

  25% {
      transform: translate(-5px,-300px);
  }

  50% {
      transform: translate(350px, -300px);
  }

  75% {
      transform: translate(350px, 5px);
  }

  100% {
      transform: translate(0);
  }
}

.ellipse5 {
  animation: rotation5 5s ease-out infinite;
}

@keyframes rotation5 {
  0% {
    transform: translate(0);
  }

  25% {
      transform: translate(-380px, 0);
  }

  50% {
      transform: translate(-385px, -300px);
  }

  75% {
      transform: translate(-25px, -300px);
  }

  100% {
      transform: translate(0);
  }
}

.service {
  display: flex;
  flex-direction: row;
}

.ellipse1, .ellipse2, .ellipse3, .ellipse5{
  display: flex;
  justify-content: space-around;
  height: 230px;
}

.skills1, .skills2, .skills3, .skills5{
  position: absolute;
  font-family: 'Rosario';
  font-weight: 700;
  font-style: italic;
  font-size: 1rem;
  color: rgba(0, 0, 0, 1);
  width: 280px;
}

.skills1{
  top: 230px;
  left: 10px;
}

.skills2{
  top: 230px;
  left: -25px;
}

.skills3{
  top: 230px;
  left: -5px;
}

.skills5{
  top: 230px;
  left: -45px;
}

.txt{
  color:rgba(0, 0, 0, 1);
  font-family: 'Rosario';
  font-weight: 700;
  font-size: 2.66rem;
  text-align: center;
  margin-top: 1269px;
  margin-bottom: 80px;
}

.team {
  display: flex;
  justify-content: space-evenly;
}

.meredith{
  height: 525px;
  width: 300px;
  border-radius: 40px 40px;
  border-bottom-left-radius: 118px 55px;
  border-bottom-right-radius: 127px 55px;
  background-size: 302px;
  background-repeat: no-repeat;
  background-image: url("./img/Meredith.png");
}

.jason{
  height: 505px;
  width: 300px;
  border-radius: 40px 40px;
  background-size: 300px;
  background-repeat: no-repeat;
  background-image: url("./img/Jason.png");
}

.ryan{
  height: 505px;
  width: 300px;
  border-radius: 40px 40px;
  background-size: 300px;
  background-repeat: no-repeat;
  background-image: url("./img/Ryan.png");
}

.james{
  height: 508px;
  width: 300px;
  border-radius: 40px 40px;
  background-size: 300px;
  background-repeat: no-repeat;
  background-image: url("./img/James.png");
}

.name{
  opacity: 0;
  transition: all .1s ease-in 3;
}

.photo:hover .name{
  padding: 33px 25px;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Volkhov';
  font-weight: 400;
  font-size: 1.33rem;
  color: #FFFAFA;
  border-radius: 0 0 40px 40px;
  transform: translateY(379px);
  opacity: 1;
  background-color: rgba(163, 83, 10, 0.7);
}

.info, .mess {
  margin-top: 0.5vw;
  margin-left: 10vw;
  color:rgba(0, 0, 0, 1);
  font-style: italic;
  font-family: 'Rosario';
  font-weight: 700;
  font-size: 1.3rem;
}

.mess{
  margin-left: 25vw;
}

.contact-us{
    
    display: flex;
    justify-content: space-evenly;
}

.form{
  width: 46vw;
  display: flex;
  flex-direction: column;
  margin-top: 1vw;
  margin-right: -20px;
  padding: 1.9vw 1.4vw;
  box-sizing: border-box;
  margin-left: -5px;
  background-color: #E5E5E5;
}

.name-email{
  margin-bottom: 2.4vw;
}

input[type="text"] {
  font-family: 'Rosario';
  font-weight: 700;
  font-size: 0.8rem;
  width: 280px;
  margin-right: 30px;
  padding: 10px 0;
  padding-left: 18px;
  box-sizing: border-box;
  border: none;
}

input[type="email"] {
  font-family: 'Rosario';
  font-weight: 700;
  font-size: 0.8rem;
  width: 340px;
  padding: 10px 0;
  padding-left: 60px;
  box-sizing: border-box;
  border: none;
}

 .message{
    font-family: 'Rosario';
    font-weight: 700;
    font-size: 0.8rem;
    width: 660px;
    height: 150px;
    margin-right: 30px;
    padding: 10px 0;
    padding-left: 18px;
    box-sizing: border-box;
    border: none;
    resize: none;
    border: none;
 }
  
.email{
  color: rgba(0, 0, 0, 0.5);
  width: 452px;
  padding: 45px;
}

.map{
  margin-top: -99px;
  margin-left: -100px;
}

.footer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}

.information, .social_networks{
  font-family: 'Rosario';
  font-weight: 600;
  font-style: italic;
  font-size: 0.6rem;
  line-height: 0.7rem;
  text-align: center;
}

span{
  font-weight: 700;
}

a{
  text-decoration: none;
  color:rgba(0, 0, 0, 1)
}

.hours{
  font-family: 'Rosario';
  font-weight: 600;
  font-style: italic;
  font-size: 0.6rem;
  line-height: 0.7rem;
  text-align: center;
}

.opening{
  margin-bottom: 0.7rem;
  font-weight: 700;
  font-size: 0.6rem;
  line-height: 0.7rem;
  text-align: center;
}

.social_networks li{
  list-style: none;
  display: flex;
  flex-direction: row; 
  align-items: flex-start;
}

.connect > span{
  margin-bottom: -20px;
}

.insta::before{
  content: "";
  background-image: url("./img/instagram.png");
  background-size: 25px;
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  margin-right: 15px;
}

.insta{
margin-left: 5px;
}

.fb::before{
  content: "";
  background-image: url("./img/facebook.png");
  background-repeat: no-repeat;
  width: 31px;
  height: 30px;
  margin-right: 15px;
}

.twitter::before{
  content: "";
  background-image: url("./img/twitter.png");
  background-repeat: no-repeat;
  width: 30px;
  height: 29px;
  margin-right: 15px;
}
