
:root {
    font-size: 20px;
}

.page {
    font-family: 'Public Sans', sans-serif;
    background-color: #E5E5E5;
    margin: 100px auto;
}

.container{
    min-width: 700px;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #F9F9F9;
    padding: 64px 45px 0 43px;
    box-sizing: border-box;
}

.heading{
    margin-top: 64px;
    margin-left: 5px;
    font-family: 'Public Sans';
    font-weight: 700;
    font-size: 1.2rem;
    color: #171717;
}

.mandatory{
    margin-top: 79px;
    font-family: 'Public Sans';
    font-weight: 400;
    font-size: 0.7rem;
}

span{
    color: #D83933;
}

.info{
 font-family: 'Public Sans';
 font-weight: 700;
 font-size: 1rem;
 color: rgba(23, 23, 23, 1);
}

.location{
    display: flex;
    justify-content: space-between;
}

.txt{
    font-family: 'Public Sans';
    font-weight: 500;
    font-size: 0.8rem;
    color: rgba(23, 23, 23, 1);
    display: block;
    margin-bottom: 8px;
}

.txt1{
    font-family: 'Public Sans';
    font-weight: 400;
    font-size: 0.8rem;
    color:rgba(23, 23, 23, 1);
    font-weight: 500;
    font-size: 0.8rem;
    display: block;
    margin-bottom: 8px;
    margin-top: 31px;
}

.readonly{
    background-color: rgba(239, 239, 239, 1);
    background-image: url("./img/calendar-line.png");
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 399px;
}

.cell, .readonly{
    width: 435px;
    border: 1px solid rgba(173, 173, 173, 1);
    height: 40px;
    font-family: 'Public Sans';
    font-weight: 400;
    font-size: 0.8rem;
    padding: 9px 0 9px 10px;
    box-sizing: border-box;
}

.location2 {
    margin-top: 31px;
    display: flex;
    justify-content: space-between;
}

.arrow{
    background-image: url("./img/arrow-down.png");
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 399px;
    width: 435px;
    border: 1px solid rgba(173, 173, 173, 1);
    height: 40px;
    font-family: 'Public Sans';
    font-weight: 400;
    font-size: 0.8rem;
    padding: 9px 0 9px 10px;
    box-sizing: border-box; 
}

.blue{
    background-image: url("./img/arrow-down.png");
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 399px;
    width: 435px;
    border: 1px solid rgba(173, 173, 173, 1);
    height: 40px;
    font-family: 'Public Sans';
    font-weight: 400;
    font-size: 0.8rem;
    padding: 9px 0 9px 10px;
    box-sizing: border-box;
    color: rgba(0, 80, 216, 1)
}

.calendar{
    background-image: url("./img/calendar-line.png");
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 399px;
    width: 435px;
    border: 1px solid rgba(173, 173, 173, 1);
    height: 40px;
    font-family: 'Public Sans';
    font-weight: 400;
    font-size: 0.8rem;
    padding: 9px 0 9px 10px;
    box-sizing: border-box;
}

.line{
    border-top: 1px solid rgba(209, 209, 209, 1);
    margin-top: 27px;
    margin-bottom: 32px;
}

.checkbox{
    margin-top: 27px;
    margin-right: -5px;
}

.purged{
    font-family: 'Public Sans';
    font-weight: 400;
    font-size: 0.8rem;
    color: rgba(23, 23, 23, 1);
    padding-right: 338px;
}

.search-line{
  background-image: url("./img/search-line.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 399px;
  width: 435px;
  border: 1px solid rgba(173, 173, 173, 1);
  height: 40px;
  font-family: 'Public Sans';
  font-weight: 400;
  font-size: 0.8rem;
  padding: 9px 0 9px 10px;
  box-sizing: border-box; 
}

.search-blue{
  background-image: url("./img/search-line.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 399px;
  width: 435px;
  border: 1px solid rgba(173, 173, 173, 1);
  height: 40px;
  font-family: 'Public Sans';
  font-weight: 400;
  font-size: 0.8rem;
  padding: 9px 0 9px 10px;
  box-sizing: border-box; 
  color: rgba(0, 80, 216, 1);
}

.btn{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 110px;
  padding-bottom: 110px;
  box-sizing: border-box;
}

input[type="checkbox"]{
  width: 37px;
  height: 22px;
}

input[type="submit"]{
  padding: 9px 16px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 0.8rem;
  border: none;
  border-radius: 4px;
  background-color: #0050D8;
}
