body {
  margin: 0 auto;
}

.main {
  background: #e5e5e5;
  background-size: cover;
  padding: 50px 0 100px 50px;
}

.square {
  background: linear-gradient(#2137fc 50%, #ffce22 50%);
  width: 512px;
  height: 571.5px;
  margin: 50px 0 100px 50px;
  display: inline-block;
}

.glyph {
  background-image: url("./img/Glyph.png");
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 51%;
}

.circle {
  background: linear-gradient(#2137fc 50%, #ffce22 50%);
  width: 512px;
  height: 512px;
  margin: 50px 0 130px 100px;
  border-radius: 50%;
  display: inline-block;
}

.position {
  background-position: 50% 87%;
}

.flag {
  background: linear-gradient(#2137fc 50%, #ffce22 50%);
  width: 512px;
  height: 571.5px;
  margin: 50px 0 100px 50px;
  display: inline-block;
}

.circle-ua {
  background: linear-gradient(#2137fc 50%, #ffce22 50%);
  width: 512px;
  height: 512px;
  margin: 50px 0 130px 100px;
  border-radius: 50%;
  display: inline-block;
}

.petcube-square {
  background: linear-gradient(#2137fc 50%, #ffce22 50%);
  width: 512px;
  height: 571.5px;
  margin: 50px 0 100px 50px;
  display: inline-block;
}

.rhombus-white {
  background-image: url("./img/Rhombus-white.png");
  background-repeat: no-repeat;
  width: 271.79px;
  height: 315.87px;
  padding: 40px 0px 0px 20px;
  margin: 15px 0px 0px -25px;
}

.rhombus-black {
  background-image: url("./img/Rhombus-black.png");
  width: 278.13px;
  height: 320px;
  background-repeat: no-repeat;
  padding: 20px 30px 60px 60px;
  margin: 90px 0px 50px 0px;
}

.petcube-circle {
  background: linear-gradient(#2137fc 50%, #ffce22 50%);
  width: 512px;
  height: 512px;
  margin: 50px 0 130px 100px;
  border-radius: 50%;
  display: inline-block;
}

.rhw-position {
  background-position: 0% 0%;
}

.rhb-position {
  background-position: 0% 77%;
  padding: 40px 0px 50px 60px;
  margin: 50px 0px 0px 87px;
}

.ears {
  background-image: url("./img/Ears.png");
  width: 106.51px;
  height: 88.15px;
  background-repeat: no-repeat;
  padding: 20px 30px 60px 60px;
  margin: 90px 0px 50px 0px;
}

.ears-position {
  background-position: 10% 47%;
  padding: 10px 0px 40px 0px;
  margin: 50px 0px 0px 7px;
}

.spark-square {
  background: linear-gradient(#2137fc 50%, #ffce22 50%);
  width: 512px;
  height: 571.5px;
  margin: 50px 0 100px 50px;
  display: inline-block;
}

.plane {
  background-image: url("./img/Plane.png");
  width: 512px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 100% 70%;
  background-size: 70%;
  margin: 50px 0px 0px 0px;
}

.spark-circle {
  background: linear-gradient(#2137fc 50%, #ffce22 50%);
  width: 512px;
  height: 512px;
  margin: 50px 0 130px 100px;
  border-radius: 50%;
  display: inline-block;
}

.plane-position {
  background-position: 50% 2%;
}

.diia-square {
  background: linear-gradient(#2137fc 50%, #ffce22 50%);
  width: 512px;
  height: 571.5px;
  margin: 50px 0 100px 50px;
  display: inline-block;
}

.diia-img {
  background-image: url("./img/Diia.png");
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.diia-circle {
  background: linear-gradient(#2137fc 50%, #ffce22 50%);
  width: 512px;
  height: 512px;
  margin: 50px 0 130px 100px;
  border-radius: 50%;
  display: inline-block;
}

.diia-position {
  background-position: 50% 47%;
}

.diia-square-black1 {
  background: #000000;
  width: 512px;
  height: 571.5px;
  margin: 50px 0 100px 100px;
  display: inline-block;
}

.flag-img1 {
  background-image: url("./img/Flag-img1.png");
  width: 80px;
  background-repeat: no-repeat;
}

.flag-img1-position {
  background-position: 50% 77%;
  padding: 501px 290px 95px 220px;
  box-sizing: border-box;
}

.diia-square-black2 {
  background: #000000;
  width: 512px;
  height: 571.5px;
  margin: 50px 0 100px 100px;
  display: inline-block;
}

.flag-img2 {
  background-image: url("./img/Flag-img2.png");
  width: 80px;
  background-repeat: no-repeat;
}

.flag-img2-position {
  background-position: 73% 90%;
  padding: 12px 25px 75px 90px;
  box-sizing: border-box;
}

.diia-square-black3 {
  background: #000000;
  width: 512px;
  height: 571.5px;
  margin: 50px 0 100px 100px;
  display: inline-block;
}

.flag-img3 {
  background-image: url("./img/Flag-img3.png");
  width: 80px;
  background-repeat: no-repeat;
}

.flag-img3-position {
  background-position: 60% 60%;
  padding: 0px 0px 15px 120px;
  box-sizing: border-box;
}

.flag-img4 {
  background-image: url("./img/Flag-img4.png");
  width: 80px;
  background-repeat: no-repeat;
}

.flag-img4-position {
  background-position: 94% 87%;
  padding: 12px 25px 75px 360px;
  box-sizing: border-box;
}
