body {
  font-family: "IBM Plex Sans", sans-serif;
}

.h1 {
  margin-top: 72px;
  font-size: 40px;
  font-weight: 700;
}

.h2 {
  margin-top: 74px;
  margin-bottom: 21px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.line {
  border-bottom: 5px solid #3e45e8;
  width: 402px;
  padding-top: 25px;
}

.line2 {
  border-bottom: 5px solid;
  width: 402px;
  color: #3e45e8;
  padding-top: 21px;
  box-sizing: border-box;
  margin: 0 auto;
}

.header {
  height: 110px;
  text-align: center;
  color: #dfe31e;
  font-size: 48px;
  font-weight: 400;
  margin-top: 31px;
  font-family: "M PLUS 1";
}

.banner {
  height: 803px;
  background-image: url("./img/Ukranian-fortress.png");
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding-left: 80px;
  padding-top: 206px;
}

.content {
  box-sizing: border-box;
  background-image: url("./img/flag.png");
  background-repeat: no-repeat;
  height: 272px;
  font-size: 48px;
  font-weight: 700;
  color: white;
  padding-left: 35px;
  width: 72.63%;
  padding-top: 10px;
  font-family: "IBM Plex Sans";
}

.main {
  padding: 0 80px;
}

.all_cards {
  width: 1440px;
  margin: 0 auto;
  display: flex;
}

.card {
  width: 430px;
  margin: 0 auto;
}

.card_image {
  width: 100%;
}

.map {
  width: 812px;
  padding-top: 41px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
}

.button {
  width: 591px;
  background-image: url("./img/button.png");
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  margin: 0 auto;
}

.button-content {
  width: 406px;
  color: #ffffff;
  font-size: 64px;
  font-weight: 700;
  margin: 10px 73px 10px 112px;
}

.footer {
  height: 320px;
  text-align: center;
  background-color: #2f4a4b;
  color: #dfe31e;
  font-size: 48px;
  font-weight: 400;
  margin: 21px 0;
  width: 100%;
  font-family: "M PLUS 1";
}

.span {
  color: #3e45e8;
}

.link-content1 {
  height: 49px;
  text-decoration: none;
  color: #a89d9d;
  size: 36px;
  font-weight: 400;
  font-family: "Marcellus SC";
  margin-top: 31px;
}

.link-content2 {
  height: 49px;
  text-decoration: none;
  color: #a89d9d;
  size: 36px;
  font-weight: 400;
  font-family: "Marcellus SC";
  margin-top: 21px;
}

.instagram {
  margin: 26px 13px 27px 0px;
  height: 63px;
}

.twitter {
  margin: 21px 23px 27px 0;
  height: 68px;
}

.facebook {
  margin: 21px 20px 27px 0;
  height: 68px;
}

.telegram {
  margin: 26px 0 27px 0;
  height: 63px;
}
