body {
  margin: 25px 10px;
  background-color: #e5e5e5;
}

.main {
  width: 1501px;
  margin: 0 auto;
  padding-bottom: 237px;
  background: #dcdcdc;
}

.header {
  width: 1497px;
  height: 90px;
  background-color: #202846;
  display: flex;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 24px;
  position: relative;
}

.main {
  background: #dcdcdc;
  width: 1497px;
  padding-bottom: 237px;
  margin: 0 auto;
}

.logo {
  background-image: url("./img/logo.png");
  background-repeat: no-repeat;
  width: 178.45px;
  margin: 10px 0 10px 138px;
}

.main-menu {
  font-family: "PT Sans";
  font-weight: 700;
  display: flex;
  margin: 28px 27px 17px 14px;
  list-style-type: none;
}

li.menu-text > a {
  border-right: 2px solid white;
  padding: 1px 27px;
  text-decoration: none;
  color: white;
}

ul {
  display: flex;
  flex-direction: row;
}

.logo1 {
  width: 60px;
  margin: 15.5px 5.5px 24.5px -5.5px;
  display: flex;
}

.ua {
  width: 35px;
  height: 36px;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 28px;
  color: #ffffff;
  display: flex;
  margin-left: 15.5px;
  margin-top: 9px;
}

.subheader {
  background-color: #c6c6dc;
  width: 1497px;
}

.subheader-text {
  color: #202846;
  width: 526px;
  height: 140px;
  margin: 0 1167px 0 227px;
  padding-top: 32px;
  box-sizing: border-box;
  font-size: 48px;
  font-family: "PT Sans";
  font-weight: 400;
  font-style: italic;
}

.card {
  width: 1240px;
  height: 300px;
  margin: 0 auto;
  background-color: #bdbdc6;
  position: relative;
  top: 185px;
  display: flex;
}

.photo {
  width: 385px;
  margin: 48px 62px 28px 32px;
}

.contents {
  margin: 10px 87px 30px 0;
  padding: 21px 24px 28px 23px;
  box-sizing: border-box;
}

.offer-name {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: italic;
  font-size: 36px;
  color: #353c57;
}

.line {
  width: 689px;
  border: 3px solid #ffffff;
}

.description {
  width: 695px;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 22px;
  color: #202846;
  text-align: center;
  background-color: #d7d7dd;
  margin: 10px 87px 30px 0;
  padding: 21px 10px 28px 15px;
  box-sizing: border-box;
}

.star {
  position: absolute;
  left: 95%;
  top: 5%;
}

.card:hover .star svg path {
  fill: #ffff00;
}

.button {
  position: absolute;
  left: 89.5%;
  top: 76%;
  width: 200px;
  height: 50px;
  font-family: "PT Sans";
  font-size: 24px;
  color: white;
  text-align: center;
  border: 1px solid #202846;
  background-color: #202846;
  padding-top: 10px;
  border-radius: 50px;
}

.card-end {
  background: #e5e5e5;
  margin-top: 36px;
}

footer {
  width: 1497px;
  background: #202846;
  color: #eeecf1;
  font-family: "PT Sans";
  font-weight: 400;
  font-style: italic;
  font-size: 36px;
  padding: 21px 0 22px 60px;
  box-sizing: border-box;
  margin: 0 auto;
}

#fixed-div {
  width: 101px;
  height: 101px;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 50%;
  background: rgba(85, 87, 104, 0.62);
  position: fixed;
  right: 25px;
  bottom: 445px;
}
